html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
* {
  box-sizing: border-box;
}
@font-face {
  font-family: "WorkSans";
  src: url(./WorkSans-VariableFont_wght.ttf) format("truetype");
}

body {
  font-family: "WorkSans";
}

.white-background {
  background-color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: +1;
  opacity: 0.85;
}

.background {
  background-image: url(./backgroung.jpg);
  width: 100%;
  height: 100%;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: +2;
}

.main-container {
  padding: 40px 40px 0 40px;
  background-color: #583ce4;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
  width: 350px;
  border-radius: 7px;
}

img {
  background-color: white;
  width: 100px;
  border-radius: 50%;
}

h2 {
  color: white;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 40px;
}

.input-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 0 35px 0;
}

input[type="text"],
input[type="password"] {
  color: white;
  background-color: transparent;
  font-size: 1rem;
  border: none;
  outline: none;
  width: 200px;
  flex-grow: 1;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
  color: white;
  font-weight: 500;
  font-size: 1rem;
  opacity: 1;
}

.username-section,
.password-section {
  display: flex;
  border-bottom: 3px solid #b18aff;
  padding-bottom: 7px;
}

.username-section {
  margin: 0 0 35px 0;
}

.fas {
  color: white;
  margin: 0 10px 0 7px;
}

.remember {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 0 0 35px 0;
}

.remember > input {
  margin: 0 3px 0 0;
}

.remember > span {
  color: white;
}

input[type="button"] {
  font-weight: 600;
  background-color: white;
  color: #583ce4;
  border-radius: 30px;
  border: none;
  width: 100px;
  height: 40px;
  cursor: pointer;
  margin-bottom: 90px;
}

a {
  font-size: 0.75rem;
  text-decoration: none;
  color: white;
}
